* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
}

body {
    background: var(--color-bg)
}


.section__padding {
    padding: 4rem 6rem;

}

.section__margin {
    margin: 4rem 6rem;

}


@media only screen and (max-width: 425px) {
    .section__margin {
        margin: 4rem 2rem;
    }

    .section__padding {
        padding: 4rem 2rem;
    }
}


